
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contato</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
</head>
<body>
   
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/contato">Contatos</a></li>
            <li><a href="/sobre">Sobre</a></li>
        </ul>
    
    <form action="/contato" method="POST">
        <input type="text" name="nome" placeholder="nome">
        <br>
        <input type="text" name=email placeholder="E-mail"
        <br>
        <input type="submit" value="Enviar">

    </form>
</body>
</html>